body {background-color: rgb(7, 7, 56);}

h2
{
  color: rgb(255, 255, 255); 
}

h1
{
  font-size: 32px;
  text-shadow: -1px -1px rgb(77, 77, 77), 1px 1px rgb(49, 49, 49), -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  padding:5px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:4px;
  width: 100%;
  background-image:url(images/background-h1-wood.jpg);  
}

.video-container {
  z-index: -100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#video-bg {
  width: 100%;
}

.portfolio-section {
  margin-top: 25%;
}
.tagline-left {
  float: left;
  width: 50%;
  text-align: center;
}

.tagline-right {
  float: right;
  width: 50%;
  text-align: center;
}

.tagline-video {
  width: 75%;
}

.tagline-right-text {
  position: absolute;
  margin-top: 9%;
  text-align: center;
  margin-left: 17%;
  font-family: Arial;
  color: #fff;
  width: 290px;
  font-size: 40px;
}

.tagline-left-text {
  position: absolute;
  margin-top: 9%;
  text-align: center;
  margin-left: 11%;
  font-family: Arial;
  color: #fff;
  width: 375px;
  font-size: 40px;
}



.wrapper{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
  .cube-wrap {
  width: 400px;
  height: 400px;
  perspective: 2000px;
  perspective-origin: 50% -500px;
  }
  .single-box {
  background-image: url(bg.jpg);
  background-size: cover;
  display: block;
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: #00000000;
  transform: rotateY(45deg) translateZ(-200px) rotateX(15deg);
  transform-origin: 50% 50% 0;
  border: 3px solid rgba(255, 255, 255, 0);
  }
  .box {
  transform-style: preserve-3d;
  animation: rotate 15s infinite linear;
  }
  .side-front { 
  transform: translateZ(300px);
  }
  .side-back { 
  transform: rotateY(180deg) translateZ(300px);
  }
  .side-top {
  background-image: url(bg.jpg);
  transform: rotateX(90deg) translateZ(300px);
  }
  .side-bottom { 
  transform: rotateX(-90deg) translateZ(300px); 
  background-image: url(bg.jpg);
  }
  .side-left { 
  transform: rotateY(-90deg) translateZ(300px); 
  }
  .side-right { 
  transform: rotateY(90deg) translateZ(300px); 
  }
   
  @keyframes rotate {
  0% { transform: rotateY(0); }
       
  100% { transform: rotateY(360deg); }
  }
  

.btn{  
  border-radius: 4px;
  height: 30px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #000000;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
  background-color: #ffffff;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #aaaaaa;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}




.card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.card:hover .imgBx
{
  bottom: 80px;
}

.card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.card .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ff6565 0%,
    #c3c3c3 29%,
    #666666 67%,
    #ff0000 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 8s linear infinite;
  display: inline-block;
      font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}







.btn:last-child {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




/* 
helper to reset default browser's styles from headings
*/

.r-title{
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader{
width: var(--screenReaderWidth, 1px) !important;
height: var(--screenReaderHeight, 1px) !important;
padding: var(--screenReaderPadding, 0) !important;
border: var(--screenReaderBorder, none) !important;

position: var(--screenReaderPosition, absolute) !important;
clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
POPUP
=====
*/

/*
1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
*/

.popup:not(:target){
display: none;
}

.popup:target{
width: 100%;
height: 100vh;

display: flex;

position: fixed;
top: 0;
right: 0;  
}

.popup::before{
content: "";
box-sizing: border-box;
width: 25%;
background-color: #fff;

position: fixed;
left: 0;
top: 50%;
}

.popup::after{
content: "";
width: 0;
height: 2px;
background-color: #f0f0f0;

position: absolute;
top: 50%;
left: 0;
margin-top: -1px;
}

.popup__container{
box-sizing: border-box;  
padding: 5% 15%;

height: calc(100vh - 40px); /* 1 */
margin: auto; /* 1 */
overflow: auto; /* 1 */
overscroll-behavior: contain; /* 1 */
}

.popup__title{
--rTitleMarginBottom: 1.5rem;
font-size: 1.5rem;
}

.popup__close{
width: 2rem;
height: 2rem;

position: fixed;
top: 1.5rem;
right: 1.5rem;

background-repeat: no-repeat;
background-position: center center;
background-size: contain;
background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before{
will-change: height, top;
animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after{
will-change: width, opacity;
animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation{

0%{
  width: 0;
  opacity: 1;
}

99%{
  width: 100%;
  opacity: 1;
}

100%{
  width: 100%;
  opacity: 0;
}  
}

@keyframes open-animation{

0%{
  height: 0;
  top: 50%;
}

100%{
  height: 100vh;
  top: 0;
}
}

.popup__container{
animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

0%{
  opacity: 0;
}

100%{
  opacity: 1;
}
}

/*
=====
DEMO
=====
*/

body{
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
font-size: 1rem;
color: #222;
background-color: #200858;
margin: 0;
}

p{
margin: 0;
line-height: 1.5;
}

p:nth-child(n+2){
margin-top: 1rem;
}

.open-popup{
color: #fff;
text-decoration: none;
text-transform: uppercase;
padding: .75rem 1.25rem;
border: 1px solid;
}

.page{
min-height: 100vh;
display: flex;
}

.page__container{
max-width: 1200px;
padding-left: .75rem;
padding-right: .75rem;  
margin: auto;
}








.full-height{
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 240px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.modal-btn:not(:checked) + label:hover{
  background-color: #ffeba7;
  color: #102770;
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
	font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #ffeba7;
  color: #102770;
  font-family: 'unicons';
  content: '\eac6'; 
  box-shadow: 0 12px 25px 0 rgba(16,39,112,.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: #102770;
  color: #ffeba7;
}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}
.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.modal-wrap p {
  padding: 20px 30px 0 30px;
}
.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}


.logo {
	position: absolute;
	top: 25px;
	left: 25px;
	display: block;
	z-index: 1000;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  	filter: brightness(10%);
	transition: filter 250ms 700ms linear;
}
.modal-btn:checked ~ .logo img {
  	filter: brightness(100%);
	transition: all 250ms linear;
}


@media screen and (max-width: 500px) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}
	.modal-wrap p {
	  padding: 15px 20px 0 20px;
	}
}