{% extends 'layout.html' %}


{% block title %}{% endblock %}

{% block body %}

<section>
  <div class = "image">
     <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
  </div>

  <div class = "content text-light">
      <h2>About Me</h2>
      <span>
      <h1>Hello My Name Is Ido Karelitz <br/>And This Is <br/>My First Project With Python And Flask<br/> Enjoy</h1>
        
      </span>
      
  </div>
</section><br><br>
<div class="credit text-light">Made with <span style="color:tomato">❤</span> by Ido Karelitz</div>
</body>
{% endblock %}

