{% extends 'layout.html' %}


{% block title %}{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col-4">
<section>
  <div class = "patterns">
     <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
  </div>
  <h1><a href="https://github.com/idokarelitz">IDO's GITHUB</a></h1>
</div>
<div class="col-8">
  <h5 class="animate-charcter"> Hello My Name Is Ido Karelitz</h5>
  <h5 class="animate-charcter"> And This Is</h5>
  <h5 class="animate-charcter"> My First Project With Python And Flask</h5>
  <h5 class="animate-charcter"> Enjoy <br></h5>
</div>
</div>
</div>



</a>	
</div>


{% endblock %}
