{% extends 'layout.html' %}

{% block body %}

<!--pup up message-->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>
        {{ message }}
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}

<table class="table w-100 table-transparent text-light ">
    <thead>
       
    </thead>
    {% for our_book in our_books%}
          <div class="card-body text-light">
              <div class="container">
                  <div class="row">
                      <div class="col-8">
            <h5 class="card-title">BOOK TITLE: {{ our_book.name }}</h5>
            <h6 class="card-text">BOOK AUTHOR: {{ our_book.author }}</h6>
            <p class="card-text">PUBLISHED IN: {{ our_book.year_published }}</p>
            <p class="card-text">ID NUMBER: {{ our_book.id }}</p>
            <p class="card-text">TYPE: {{ our_book.type }}</p>
            <a href="{{ url_for('book.Update_book', id=our_book.id) }}" class="btn btn-primary">UPDATE</a>
            <div class="col-4">
                <img src="..\static\images\dragons.of.a.fallen.sun.jpg" class=card-img-top>
                
        </div>
      </div>
    </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="w-50 shadow p-3 mb-5 bg-transparent rounded text-light">
    <h1>Create New Book:</h1>
<br />
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control") }}
        <br />
        {{ form.author.label(class="form-label") }}

        {{ form.author(class="form-control") }}
        <br />
        {{ form.year_published.label(class="form-label") }}

        {{ form.year_published(class="form-control") }}
        <br />
        {{ form.book_pic.label(class="form-label") }}

        {{ form.book_pic(class="form-control") }}
        <br />
        {{ form.submit(class="btn btn-secondary") }}

        <a href="{{ url_for('index') }}" class="btn btn-success">Main Page</a>
    </form>
</div>




    
    
    
    



    <div class="container">
        <div class="row">
          <div class="col-sm">
        <div class="card">
          <div class="imgBx">
              <img src="..\static\images\dragons.of.a.fallen.sun.jpg" class="w-100 rounded mx-auto d-block" alt="...">
          </div>
          <div class="details">
              <h2>SomeOne Famous<br><span>Director</span></h2>
          </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
          <div class="imgBx">
              <img src="..\static\images\dragons.of.a.fallen.sun.jpg" class="w-100 rounded mx-auto d-block" alt="...">
          </div>
          <div class="details">
              <h2>SomeOne Famous<br><span>Director</span></h2>
          </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
          <div class="imgBx">
              <img src="..\static\images\dragons.of.a.fallen.sun.jpg" class="w-100 rounded mx-auto d-block" alt="...">
          </div>
          <div class="details">
              <h2>SomeOne Famous<br><span>Director</span></h2>
          </div>
        </div>
    </div>
    
  </div>
</div>

    
         


    

{% endif %}

{% endblock %}


