{% extends 'layout.html' %}

{% block body %}

<!--pup up message-->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>
        {{ message }}
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
<table class="table w-100 text-light text-center ">
  <thead>
    <tr>
      <th scope="col"><h5>ID</h5></th>
      <th scope="col"><h5>UPDATE</h5></th>
      <th scope="col"><h5>NAME</h5></th>
      <th scope="col"><h5>AUTHOR</h5></th>
      <th scope="col"><h5>YEAR PUBLISHED</h5></th>
    </tr>
  </thead>
  {% for our_book in our_books%}
  <tr class="bg-info">
    <tbody>
      <th scope="row">{{ our_book.id }}</th>
      <td><a href="{{ url_for('Update_book', id=our_book.id) }}" class="btn btn-success"></a></td>
      <td>{{ our_book.name }}</td>
      <td>{{ our_book.author }}</td>
      <td>{{ our_book.year_published }}</td>
      <td>{{ our_book.book_pic }}</td>
  </tr>
</tbody>
</table>
  {% endfor %}

{% else %}
<div class="container2">
    <div class="row">
        <div class="col-sm-4">
<div class="w-100 shadow p-3 mb-5 bg-transparent rounded text-light">
    <h1>CREATE NEW BOOK</h1>
<br />
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control") }}
        <br />
        {{ form.author.label(class="form-label") }}

        {{ form.author(class="form-control") }}
        <br />
        {{ form.year_published.label(class="form-label") }}

        {{ form.year_published(class="form-control") }}
        <br />
        
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>
</div>

<div class="col-sm-8">
<h1>BOOKS</h1>
<table class="table w-100 text-light text-center ">
  <thead>
    <tr>
      <th scope="col"><h5>ID</h5></th>
      <th scope="col"><h5>UPDATE</h5></th>
      <th scope="col"><h5>NAME</h5></th>
      <th scope="col"><h5>AUTHOR</h5></th>
      <th scope="col"><h5>YEAR PUBLISHED</h5></th>
    </tr>
  </thead>
  {% for our_book in our_books%}
  <tr class="bg-info">
    <tbody>
      <th scope="row"><h4>{{ our_book.id }}</h4></th>
      <td><a href="{{ url_for('Update_book', id=our_book.id) }}" class="btn btn-success"></a></td>
      <td><h4>{{ our_book.name }}</h4></td>
      <td><h4>{{ our_book.author }}</h4></td>
      <td><h4>{{ our_book.year_published }}</h4></td>
      <td><div class="card">
        <div class="imgBx">
            <img src="{{ url_for('static', filename='images/' + our_book.profile_pic )}}" align="center" width="150" alt="logo_main.svg">
        </div>
        <div class="details">
            <h2>{{ our_book.author }}<br><span>{{ our_book.year_published }}</span></h2>
        </div>
      </div>
  </div></td>
    </tbody>
  </tr>
</div>
</div>
</div>
  {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}


