{% extends 'layout.html' %}

{% block body %}

<!--pup up message-->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>
    {{ message }}
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
<h1>Customer Added!</h1>
<br /><br /><br />
<table class="table table-hover table-success table-bordered border-primary table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">CITY</th>
      <th scope="col">AGE</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  {% for our_customer in our_customers%}
  <tr>
    <tbody>
      <th scope="row">{{ our_customer.id }}</th>
      <td><a href="{{ url_for('Update_customer', id=our_customer.id) }}">{{ our_customer.name }}</a></td>
      <td>{{ our_customer.city }}</td>
      <td>{{ our_customer.age }}</td>
      <td><a href="{{ url_for('delete', id=our_customer.id) }}">Delete</a></td>
  </tr>
  </tbody>
  <!--<tr>
<td>{{ our_customer.id }}.<a href="{{ url_for('Update_customer', id=our_customer.id) }}">{{ our_customer.name }}-</a>{{ our_customer.city }}-{{ our_customer.age }} <a href="{{ url_for('delete', id=our_customer.id) }}">Delete</a></td>
</tr>-->
  {% endfor %}
</table>
{% else %}
<h1>Create New Customer:</h1>
<br />
<div class="shadow p-3 mb-5 bg-body rounded text-dark">
  <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.name.label(class="form-label") }}

    {{ form.name(class="form-control") }}
    <br />
    {{ form.city.label(class="form-label") }}

    {{ form.city(class="form-control") }}
    <br />
    {{ form.age.label(class="form-label") }}

    {{ form.age(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-secondary") }}

    <a href="{{ url_for('index') }}" class="btn btn-success">Main Page</a>
  </form>

</div>
<br />
<h1>For Update/Delete Select Customer Name: </h1>
<table class="table table-hover table-success table-bordered border-primary table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">CITY</th>
      <th scope="col">AGE</th>
      
    </tr>
  </thead>
  {% for our_customer in our_customers%}
  <tr>
    <tbody>
      <th scope="row">{{ our_customer.id }}</th>
      <td><a href="{{ url_for('Update_customer', id=our_customer.id) }}">{{ our_customer.name }}</a></td>
      <td>{{ our_customer.city }}</td>
      <td>{{ our_customer.age }}</td>
      
  </tr>
  </tbody>
  <!--<tr>
<td>{{ our_customer.id }}.<a href="{{ url_for('Update_customer', id=our_customer.id) }}">{{ our_customer.name }}-</a>{{ our_customer.city }}-{{ our_customer.age }} <a href="{{ url_for('delete', id=our_customer.id) }}">Delete</a></td>
</tr>-->
  {% endfor %}
</table>

{% endif %}


{% endblock %}