{% extends 'layout.html' %}


{% block title %}{% endblock %}
{% block body %}





<div class="container">
    <div class="row">
      <div class="col-sm">
    <div class="card">
      <div class="imgBx">
          <img src="..\static\images\dragons.of.a.fallen.sun.jpg" class="w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="details">
          <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
</div>
<div class="col-sm">
    <div class="card">
      <div class="imgBx">
          <img src="..\static\images\dragons.of.a.fallen.sun.jpg" class="w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="details">
          <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
</div>
<div class="col-sm">
    <div class="card">
      <div class="imgBx">
          <img src="..\static\images\dragons.of.a.fallen.sun.jpg" class="w-100 rounded mx-auto d-block" alt="...">
      </div>
      <div class="details">
          <h2>SomeOne Famous<br><span>Director</span></h2>
      </div>
    </div>
</div>

</div>
</div>





{% endblock %}