

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="\static\images\logo_main.svg" alt="" width="30" height="30" class="d-inline-block align-text-top" />

        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-light" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
        </ul>
    </div>
</nav>


<!-- FOOTER -->
<footer class="fixed-bottom bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: IDO KARELITZ
     
    </div>
    <!-- Copyright -->
  </footer>