{% extends 'layout.html' %}

{% block body %}

<!--pup up message-->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>
    {{ message }}
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
<h1>ORDER ADDED!</h1>
<br />
<table class="table w-100 text-light text-center ">
  <thead>
    <tr>
      <th scope="col">
        <h5>ID</h5>
      </th>
      <th scope="col">
        <h5>ADMIN NAME</h5>
      </th>
      <th scope="col">
        <h5>CUSTOMER NAME</h5>
      </th>
      <th scope="col">
        <h5>BOOK TITLE</h5>
      </th>
      <th scope="col">
        <h5>DATE ISSUED</h5>
      </th>
      <th scope="col">
        <h5>DATE RETURN</h5>
      </th>


    </tr>
  </thead>
  {% for our_issues in our_issues %}
  <tr class="bg-info">
    <tbody>
      <th scope="row">{{ our_issues.id }}</th>
      <td>{{ our_issues.adminer }}</td>
      <td>{{ our_issues.issuer }}</td>
      <td>{{ our_issues.orderer }}</td>
      <td>{{ our_issues.date_issued }}</td>
      <td>{{ our_issues.date_return }}</td>
      <td><a href="{{ url_for('delete_order', id=our_issues.id) }}" class="btn btn-danger">Return</a></td>
  </tr>
  </tbody>
  {% endfor %}


  {% else %}
  <h1>ORDER</h1>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-4">
  <div class="w-50 shadow p-3 mb-5 bg-transparent rounded text-light">
    <form method="POST">
      {{ form.hidden_tag() }}

      {{ form.days_return.label(class="form-label") }}

      {{ form.days_return(class="form-control") }}
      <br />
      {{ form.book_id.label(class="form-label") }}

      {{ form.book_id(class="form-control") }}
      <br />
      {{ form.customer_id.label(class="form-label") }}

      {{ form.customer_id(class="form-control") }}
      <br />

      {{ form.submit(class="btn btn-secondary") }}
    </form>
  </div>
</div>
  
<div class="col-8">
  <table class="table w-50 text-light text-center table-center ">
    <h1>ORDERS</h1>
    <thead>
      <tr>
        <th scope="col">
          <h3>ID</h3>
        </th>
        <th scope="col">
          <h3>ADMIN NAME</h3>
        </th>
        <th scope="col">
          <h3>CUSTOMER NAME</h3>
        </th>
        <th scope="col">
          <h3>BOOK TITLE</h3>
        </th>
        <th scope="col">
          <h3>DATE ISSUED</h3>
        </th>
        <th scope="col">
          <h3>DATE RETURN</h3>
        </th>
      </tr>
    </thead>
    {% for our_issues in our_issues %}
    <tr class="bg-info">
      <tbody>
        <th scope="row">{{ our_issues.id }}</th>
        <td>{{ our_issues.adminer }}</td>
        <td>{{ our_issues.issuer }}</td>
        <td>{{ our_issues.orderer }}</td>
        <td>{{ our_issues.date_issued }}</td>
        <td>{{ our_issues.date_return }}</td>
        <td><a href="{{ url_for('delete_order', id=our_issues.id) }}" class="btn btn-danger">Return</a></td>
    </tr>
    </tbody>
    {% endfor %}
  </div>
</div>
</div>


  <div class="table-responsive-sm">
  <table class="table w-100 text-light text-center ">
    <br/><br/><br/><br/><br/><br/>
    <h1>CUSTOMERS</h1>
    <thead>
      <tr>
        <th scope="col"><h5>ID</h5></th>
        <th scope="col"><h5>UPDATE</h5></th>
        <th scope="col"><h5>NAME</h5></th>
        <th scope="col"><h5>USERNAME</h5></th>
        <th scope="col"><h5>CITY</h5></th>
        <th scope="col"><h5>AGE</h5></th>
        <th scope="col"><h5>EMAIL</h5></th>
      </tr>
    </thead>
    {% for our_customer in our_customers%}
    <tr class="bg-info">
      <tbody>
        <th scope="row">{{ our_customer.id }}</th>
        <td><a href="{{ url_for('Update_customer', id=our_customer.id) }}" class="btn btn-success"></a></td>
        <td>{{ our_customer.name }}</td>
        <td>{{ our_customer.username }}</td>
        <td>{{ our_customer.city }}</td>
        <td>{{ our_customer.age }}</td>
        <td>{{ our_customer.email }}</td>
    </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
<br/><br/><br/>
</div>

    


    <table class="table w-100 text-light text-center ">
      
      <thead>
        
        <tr>
          <th scope="col">
            <h5>ID</h5>
          </th>
          <th scope="col">
            <h5>UPDATE</h5>
          </th>
          <th scope="col">
            <h5>NAME</h5>
          </th>
          <th scope="col">
            <h5>AUTHOR</h5>
          </th>
          <th scope="col">
            <h5>YEAR PUBLISHED</h5>
          </th>
        </tr>
      </thead>
      <br/><br/><br/><br/><br/><br/><br/>
      {% for our_book in our_books%}
      <tr class="bg-info">
        <tbody>
          <th scope="row">
            <h4>{{ our_book.id }}</h4>
          </th>
          <td><a href="{{ url_for('Update_book', id=our_book.id) }}" class="btn btn-success"></a></td>
          <td>
            <h4>{{ our_book.name }}</h4>
          </td>
          <td>
            <h4>{{ our_book.author }}</h4>
          </td>
          <td>
            <h4>{{ our_book.year_published }}</h4>
          </td>
          <td>
            <div class="card">
              <div class="imgBx">
                <img src="{{ url_for('static', filename='images/' + our_book.profile_pic )}}" align="center"
                  width="150">
              </div>
              <div class="details">
                <h2>{{ our_book.author }}<br><span>{{ our_book.year_published }}</span></h2>
              </div>
            </div>
          </td>
        </tbody>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
    {% endif %}
    {% endblock %}