{% extends 'layout.html' %}


{% block title %}{% endblock %}

{% block body %}
<h1>YOU SEARCHED FOR...</h1>
<br />
<table class="table w-50 text-light text-center ">
  <thead>
    <tr>
      <th scope="col"><h5>ID</h5></th>
      <th scope="col"><h5>UPDATE</h5></th>
      <th scope="col"><h5>NAME</h5></th>
      <th scope="col"><h5>AUTHOR</h5></th>
      <th scope="col"><h5>YEAR PUBLISHED</h5></th>
    </tr>
  </thead>
  {% for book in books %}
  <tr class="bg-info">
    <tbody>
      <th scope="row">{{ book.id }}</th>
      <td><a href="{{ url_for('Update_book', id=book.id) }}" class="btn btn-success"></a></td>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.year_published }}</td>
      <td>{{ book.book_pic }}</td>
  </tr>
</tbody>
</div>
</div>
</div>
  {% endfor %}
</table>
{% endblock %}

