{% extends 'layout.html' %}

{% block body %}


<h1>Search for customer:</h1>
<br />
<div class="shadow p-3 w-50 mb-5 bg-body rounded text-dark">
  <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.name.label(class="form-label") }}

    {{ form.name(class="form-control") }}
    <br />
    {{ form.city.label(class="form-label") }}

    {{ form.city(class="form-control") }}
    <br />
    {{ form.age.label(class="form-label") }}

    {{ form.age(class="form-control") }}
    <br />
    {{ form.submit(class="btn btn-secondary") }}

    <a href="{{ url_for('index') }}" class="btn btn-success">Main Page</a>
  </form>

</div>

<table class="table w-50 table-hover table-success table-bordered border-primary table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">CITY</th>
        <th scope="col">AGE</th>
        
      </tr>
    </thead>
    {% for customer in customers%}
    <tr>
      <tbody>
        <th scope="row">{{ customer.id }}</th>
        <td><a href="{{ url_for('Update_customer', id=customer.id) }}">{{ customer.name }}</a></td>
        <td>{{ customer.city }}</td>
        <td>{{ customer.age }}</td>
        {% endfor %}
    </tr>
{% endblock %}

