{% extends 'layout.html' %}

{% block body %}

<!--pup up message-->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>
		{{ message }}
	</strong>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}




{% if id == current_user.id %}
<h1>Update Customer...</h1>
<br />
<div class="w-50 shadow p-3 mb-5 bg-transparent rounded text-light">
	<form action="/update_customer/{{ name_to_update.id }}" method="POST">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}

		{{ form.name(class="form-control", value=name_to_update.name) }}
		<br />
		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control", value=name_to_update.username) }}
		<br />
		{{ form.city.label(class="form-label") }}

		{{ form.city(class="form-control", value=name_to_update.city) }}
		<br />
		{{ form.age.label(class="form-label") }}

		{{ form.age(class="form-control", value=name_to_update.age) }}
		<br />
		{{ form.email.label(class="form-label") }}

    	{{ form.email(class="form-control", value=name_to_update.email) }}
    	<br />
		{{ form.submit(class="btn btn-secondary") }}

		<a href="{{ url_for('dashboard') }}" class="btn btn-danger">Cancel Update</a>

		<a href="{{ url_for('customer.delete_customer', id=id) }}" class="btn btn-danger">Delete</a>	
	</form>
</div>
{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>
		Sorry! You Cant Edit This Customer
	</strong>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}